
    <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Formulario de Producto</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
    
      <div class="container mt-4">
        <h2>Formulario para editar un Asiento</h2>
        <form action="/update" method="POST" >
          <% if(results){ %>

          <div class="form-group">
            <input type="text" id="ida" name="ida" value="<%= results[0].id_asiento%>" hidden>
            <label for="nombreProducto">Número de Butaca:</label>
            <input type="number" class="form-control" id="numero" name="numero" placeholder="Ingrese elNúmero de Butaca" value="<%= results[0].numero %>" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Precio:</label>
            <input class="form-control" id="precio" name="precio" rows="3" placeholder="Ingrese una descripción del producto" required value="<%= results[0].precio %>" ></input>
          </div>

          <div class="form-group">
            <label for="estado">Estado:</label>
            <select class="form-control" id="estado" name="estado" required>
              <option value="">Seleccione el estado</option>
              <option value="0" <% if (results[0].estado === 0) { %> selected <% } %> >Disponible </option>
              <option value="1" <% if (results[0].estado === 1) { %> selected <% } %> >No Disponible </option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Actualizar</button>
          <%}%>
        </form>
      </div>
    
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(typeof alert !="undefined" ){ %>
          <script>
              Swal.fire({
                  title: '<%= alertTitle%>',
                  text: '<%= alertMessage%>',
                  icon: '<%= alertIcon%>',
                  showConfirmButton: <%= showConfirmButton%> ,
                  timer: <%= timer %>
              }).then(() => {
                      window.location = '/<%= ruta%>'
                  })
          </script> 
          <% } %>
          <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (() => {
                      'use strict'
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      const forms = document.querySelectorAll('.needs-validation')
                      // Loop over them and prevent submission
                      Array.from(forms).forEach(form => {
                          form.addEventListener('submit', event => {
                              if (!form.checkValidity()) {
                                  event.preventDefault()
                                  event.stopPropagation()
                              }
                              form.classList.add('was-validated')
                          }, false)
                      })
                  })()
      </script>
    
    </body>
    </html>
  